doctype html
html(lang='pt-BR')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='author', content='Bootstrap-ecommerce by Vosidiy')   
    title= title
    link(rel='shortcut icon', type='image/x-icon', href='images/logos/squanchy.jpg')
    link(rel='apple-touch-icon', sizes='180x180', href='images/logos/squanchy.jpg')
    link(rel='icon', type='image/png', sizes='32x32', href='images/logos/squanchy.jpg')
   
    link(href='css/bootstrap.css', rel='stylesheet', type='text/css')
    link(href='css/ui.css', rel='stylesheet', type='text/css')
    link(href='fonts/fontawesome/css/fontawesome-all.min.css', type='text/css', rel='stylesheet')
    link(href='css/OverlayScrollbars.css', type='text/css', rel='stylesheet')
    
    //- link(rel='stylesheet', href='/stylesheets/style.css')
    style.
      .avatar {
      vertical-align: middle;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      }
      .bg-default, .btn-default{
      background-color: #f2f3f8;
      }
      .btn-error{
      color: #ef5f5f;
      }
    // custom style
  body
    block content
